[default]
# secret: The hashes will derive from this.  Set it to a really good
# random ascii string of at least 64 random characters or at least 25
# random words.
secret = "SomeReallyGoodRandomSecretAphrobatJalamazooSeraphicLaryngopsZazzletoe"

[BTC:USD]
factor = 0.5
steps = 24
decades = 5
precision=2

[BTS:USD]
factor = 0.5
steps = 24
decades = 7
precision=5
